html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {

}

body {
	font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
	box-sizing: border-box;
	min-height: 100vh;
}
.container {
    display: flex;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-image: url("flowers.jpg");
    justify-content: space-between;
    align-items: center;
    background-size: cover;
	background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    min-height: 703px;
    flex: 1;
	width: 500px;
}

.odin-logo {
	background-color: black;
	display: flex;
    width: 100%;
    background-color: #1d1d1d;
    opacity: 65%;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    padding: 10px;
    box-sizing: border-box;
	width: 400px;
}

img {
	width: 150px;
	height: 150px;
}

h1 {
	color: white;
}

.form-section {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	justify-content: space-between;
}

.heading {
	background: whitesmoke;
	height: 300px;
}

.heading > p {
	padding: 10px;
}

.middle-form {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.row1,
.row2,
.row3 {
	display: flex;
	padding: 10px;
	flex-direction: row;
}

h2 {
	margin-bottom: 25px;
	padding: 10px;
}

.end-form {
	background: whitesmoke;
	margin: 0px;
	padding: 10px;
	height: 200px;
}

